version: "3.9"

services:
  server:
    build: ./server
    expose:
      - "5000"
    env_file:
      - ./server/.env
    networks:
      - app-network

  client:
    build: ./client
    expose:
      - "80"
    depends_on:
      - server
    networks:
      - app-network
    env_file:
      - ./client/.env      

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - server
      - client
    networks:
      - app-network

networks:
  app-network:
    driver: bridge